body{
height: 100vh;
display: flex;
align-items: center;
justify-content: center;
}

.loading {
    height: 200px;
    width: 200px;
    border: 12px solid black; 
    border-radius: 50%;
    border-right-color: aqua;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}